@model DiaNhac
<form asp-action="Add" method="post" class="form-horizontal">
    <div class="mb-3">
        <label asp-for="TuaCD" class="form-label">Tựa CD</label>
        <input asp-for="TuaCD" class="form-control" />
        <span asp-validation-for="TuaCD" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NgheSi" class="form-label">Nghệ sĩ</label>
        <input asp-for="NgheSi" class="form-control" />
        <span asp-validation-for="NgheSi" class="text-danger"></span>
        <div class="mb-3">
            <label asp-for="TrongNuoc" class="form-label">Thể Loại</label>
            <div>
                <input asp-for="TrongNuoc" type="radio" value="true" id="TrongNuocTrue" />
                <label for="TrongNuocTrue">Trong nước</label>
            </div>
            <div>
                <input asp-for="TrongNuoc" type="radio" value="false" id="TrongNuocFalse" />
                <label for="TrongNuocFalse">Nước ngoài</label>
            </div>
            <span asp-validation-for="TrongNuoc" class="text-danger"></span>
        </div>
    <div class="mb-3">
        <label asp-for="GiaBan" class="form-label">Giá bán</label>
        <input asp-for="GiaBan" class="form-control" />
        <span asp-validation-for="GiaBan" class="text-danger"></span>
        </div>
    <div class="mb-3">
        <label asp-for="SoLuong" class="form-label">Số lượng</label>
        <input asp-for="SoLuong" class="form-control" />
        <span asp-validation-for="SoLuong" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>